<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Envia parametros del request HTTP GET - URL</title>
</head>
<body>
<h1>Envia parametros del request HTTP GET - URL</h1>
<ul>
<li><a th:href="@{/params/string(texto='Hola Americo')}">Recibir</a></li>
<li><a th:href="@{/params/string(texto='Hola Chiclana')}">Recibir 2</a></li>
<li><a th:href="@{/params/}"></a>Index</li>
<li><a th:href="@{/params/mix-params(saludo='Hola Mix-Params', numero= 32)}">Recibir Mix-Params</a></li>
<li><a th:href="@{/params/mix-params-request(saludo='Hola Mix-Params', numero= 32)}">Recibir Mix-Params-Request</a></li>
</ul>
<div th:text="${resultado}"></div>
</body> 
</html>